/* @import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap"); */

/* .menu a.active {
      background-color: #34d399;
      border-radius: 5px;
      padding: 8px 12px;
      font-weight: bold;
      color:black;     
} */

/* a.active {
  background-color: #34d399;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}
--primary-btn {
  background-color: #34d399;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
--primary-btn1 {
  border: 2px solid #ebebeb;
  padding: 8px 24px;
  color: rgb(58, 58, 58);
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outline-btn {
  border: 2px solid #34d399;
  color: #34d399;
  background: transparent;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.outline-btn:hover {
  background-color: #34d399;
  color: white;
}

--primary-text {
  color: #34d399;
}
.secondary-color {
  background-color: #059669;
}
.accent {
  background-color: #2dd4bf;
}

background {
  background-color: #d1d5db;
} */

/* body,
html {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: rgb(236, 236, 236);
} */
